<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>chat with parsun</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <!-- jQuery smooth scrolling -->
    <script src="./js/jquery-smooth-scroll.js"></script>
    <!-- Bootstrap JS -->
    <script src="./js/bootstrap.js"></script>
    <!-- React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>
    <!-- Socket.io -->
    <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- Custom JS -->
    <script src="./js/main.js"></script>

  </head>
  <body>

    <script src="/js/components/PageNotFound.jsx" type="text/jsx"></script>
    <script src="/js/components/IndexPage.jsx" type="text/jsx"></script>
    <script src="/js/components/TopicsContainer.jsx" type="text/jsx"></script>
    <script src="/js/components/TopicItem.jsx" type="text/jsx"></script>
    <script src="/js/components/NewTopicContainer.jsx" type="text/jsx"></script>
    <script src="/js/components/NewTopicForm.jsx" type="text/jsx"></script>



    <div id="root"></div>

    <!-- REACT JS -->

    <script type="text/jsx">
      ReactDOM.render(<IndexPage />, document.getElementById('root'));
    </script>

  </body>
</html>
