.visualise {
  border: 1px solid grey;
}

.margin-top {
  margin-top: 1em;
}

.padding-bottom {
  padding-bottom: 70px;
}

#messages {
  height: 78vh;
  overflow: auto;
}
/* Bootstrap modifications */
.container.really.centralised {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container.centralised {
  height: 100vh;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.navbar-fixed-bottom {
  min-height: 65px;
}
