.visualise {
  border: 1px solid grey;
}

.margin-top {
  margin-top: 1em;
}

/* Bootstrap modifications */
.container.really.centralised {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container.centralised {
  height: 100vh;
}
/*input.restrict-width {
  width: 40%;
  margin: 0 auto;
}
.btn {
  min-width: 20vw;
}*/
.col-centered {
  float: none;
  margin: 0 auto;
}
