.visualise {
  border: 1px solid grey;
}

.margin-top {
  margin-top: 1em;
}

.padding-bottom {
  padding-bottom: 70px;
}

.username-bubble {
  color: white;
  border-radius: 99em;
  padding: 0.25em 0.5em;
  margin-left: 0.25em;
}
.username-bubble:first-of-type {
  margin-left: 0;
}

#whos-online-widget {
  min-height: 2.5em;
}

#messages {
  max-height: 73vh;
  overflow: auto;
}

/* Bootstrap modifications */
.container.really.centralised {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container.centralised {
  height: 100vh;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.navbar-fixed-bottom {
  min-height: 65px;
}
