<div class="container">
  <div class="row">
    <h2>topic</h2>
  </div>

  <div class="row">
    <div class="col-md-offset-2"></div>
    <div id="chat-ui" class="col-md-8"></div>
    <div class="col-md-offset-2"></div>
  </div>

</div><!-- /.container -->

<script type="text/jsx">
  ReactDOM.render(<ChatContainer />, document.getElementById("chat-ui"));
</script>
