<div class="container">
  <div class="row">
    <h2>reson8</h2>
  </div>

  <div class="row">
    <div class="col-md-offset-2"></div>
    <div id="topics" class="col-md-8"></div>
    <div class="col-md-offset-2"></div>
  </div>

  <div class="row">
    <div class="col-md-offset-2"></div>
    <div id="create-topic" class="col-md-8"></div>
    <div class="col-md-offset-2"></div>
  </div>

</div><!-- /.container -->
